<launch>
    <!-- run with test_{image_files,video_file}.launch -->
    <!-- -->
    <!-- camera info publisher -->
    <node name="camera_info_publisher" pkg="nodelet" type="nodelet" 
          args="standalone image_source/AutoCameraInfo" output="screen">
        <remap from="image_in" to="image"/>
        <param name="fov" value="$(eval pi / 3)" />
    </node>
    <!-- -->
    <!-- camera info printer -->
    <node name="camera_info_echo" pkg="rostopic" type="rostopic"
          args="echo camera_info" output="screen" />
</launch>